<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Kitty Store</title>
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="icon" href="./assets/fav.ico" type="image/x-icon">
  <link rel="stylesheet" href="./assets/css/header.css">
  <link rel="stylesheet" href="./assets/css/footer.css">
  <link rel="stylesheet" href="./assets/css/carrossel.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css??family-Montserrat:wght@200;300&display-swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet" />
   <!-- CDN IMPORT -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- ICONS -->
  <script src="https://kit.fontawesome.com/527f090d2a.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>
  <div id="app">
    <header>
      <!-- MENU -->
      <img class="fof" src="./img/fofura.png" alt="a">
      <h1 class="title">Kitty Store</h1>
      <nav class="menu">
        <ul>
          <li><a href="./index.html">Início</a></li>
          <li><a href="./loja.html">Loja</a></li>
          <li><a href="./sobre.html">Sobre</a></li>
          <li class="dropdown"></li>
      </nav>
    </header>


    <!-- CORROSSEL -->
    <div class="carousel">
      <div class="slide active">
        <img src="./img/Hello5.jpg" alt="Imagem 1">
      </div>
      <div class="slide active">
        <img src="./img/Hello7.png" alt="Imagem 2">
      </div>
      <div class="slide active">
        <img src="./img/Hello9.jpg" alt="Imagem 3">
      </div>
      <button class="prev" onclick="prevSlide()">&#10094;</button>
      <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
    <br>
    <br>

    <!-- INICIO DA LOJAP1 -->
    <main>
      <h2> Hello Kitty - Aniversário </h2>
      <div class="carrossel">
        <div class="produto" v-for="(produto, index) in produtos" :key="index">
          <img :src="produto.imagem" :alt="produto.nome">
          <h3>{{ produto.nome }}</h3>
          <p>{{ produto.descricao }}</p>
          <span>R$ {{ produto.preco.toFixed(2) }}</span>
        </div>
        <!-- BUTTOM VER MAIS  - LEVA PRA LOJA -->
      </div>
      <br>
      <a href="./produto1.html" class="btn-rosa-link">Ver mais</a>
    </main>

    <!-- PRODUTOS 2 -->
    <main>
      <h2> Hello Kitty - Edição Especial </h2>
      <div class="carrossel">
        <div class="produto" v-for="(produto, index) in produtos2" :key="'p2-' + index">
          <img :src="produto.imagem" :alt="produto.nome">
          <h3>{{ produto.nome }}</h3>
          <p>{{ produto.descricao }}</p>
          <span>R$ {{ produto.preco.toFixed(2) }}</span>
        </div>
      </div>
      <br>
      <a href="./produto2.html" class="btn-rosa-link">Ver mais</a>
    </main>

    <!-- PRODUTOS 3 -->
    <main>
      <h2> Hello Kitty - Coleção Limitada </h2>
      <div class="carrossel">
        <div class="produto" v-for="(produto, index) in produtos3" :key="'p3-' + index">
          <img :src="produto.imagem" :alt="produto.nome">
          <h3>{{ produto.nome }}</h3>
          <p>{{ produto.descricao }}</p>
          <span>R$ {{ produto.preco.toFixed(2) }}</span>
        </div>
      </div>
      <br>
      <a href="./produto3.html" class="btn-rosa-link">Ver mais</a>
    </main>

    <!-- PRODUTOS 4 -->
    <main>
      <h2> Hello Kitty - Coleção NY </h2>
      <div class="carrossel">
        <div class="produto" v-for="(produto, index) in produtos4" :key="'p4-' + index">
          <img :src="produto.imagem" :alt="produto.nome">
          <h3>{{ produto.nome }}</h3>
          <p>{{ produto.descricao }}</p>
          <span>R$ {{ produto.preco.toFixed(2) }}</span>
        </div>
      </div>
      <br>
      <a href="./produto4.html" class="btn-rosa-link">Ver mais</a>
    </main>


    <!-- PRODUTOS 5 -->
    <main>
      <h2> Hello Kitty - Coleção Básica </h2>
      <div class="carrossel">
        <div class="produto" v-for="(produto, index) in produtos5" :key="'p5-' + index">
          <img :src="produto.imagem" :alt="produto.nome">
          <h3>{{ produto.nome }}</h3>
          <p>{{ produto.descricao }}</p>
          <span>R$ {{ produto.preco.toFixed(2) }}</span>
        </div>
      </div>
      <br>
      <a href="./produto5.html" class="btn-rosa-link">Ver mais</a>
    </main>


  
    <!-- RODAPÉ -->
   
    <footer>
      <p>© 2025 Hello Kitty Funko Store - Feito com carinho</p>
      <div class="icones-sociais">
        <a href="https://wa.me/SEUNUMERO" target="_blank">
          <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
        <a href="mailto:contato@hellokittyloja.com">
          <i class="fas fa-envelope"></i> E-mail
        </a>
        <a href="https://instagram.com/sualoja" target="_blank">
          <i class="fab fa-instagram"></i> Instagram
        </a>
      </div>
        </div>
    </footer>


  <!-- VUE PRODS -->
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {

          produtos: [
            { nome: "Kitty Aniversário", descricao: "Edição exclusiva", preco: 89.90, imagem: "img/h4amarelo.png" },
            { nome: "Kitty Aniversário", descricao: "Edição exclusiva ", preco: 99.90, imagem: "img/h4azul.png" },
            { nome: "Kitty Aniversário", descricao: "Edição exclusiva", preco: 79.90, imagem: "img/h4rosa.png" },
            { nome: "Kitty Aniversário", descricao: "Edição exclusiva", preco: 67.00, imagem: "img/hk4.jpg" },
            { nome: "Kitty Aniversário", descricao: "Edição exclusiva", preco: 19.90, imagem: "img/h4verde.png" }

          ],
          produtos2: [
            { nome: "Kitty Miojo", descricao: "Cup-Noodles Colab", preco: 192.00, imagem: "img/h3azul.png" },
            { nome: "Kitty Miojo", descricao: "Cup-Noodles Colab", preco: 292.00, imagem: "img/h3rosa.png" },
            { nome: "Kitty Miojo", descricao: "Cup-Noodles Colab", preco: 392.00, imagem: "img/h3amarelo.png" },
            { nome: "Kitty Miojo", descricao: "Cup-Noodles Colab", preco: 12.00, imagem: "img/hk3.jpg" },
            { nome: "Kitty Miojo", descricao: "Cup-Noodles Colab", preco: 92.00, imagem: "img/h3verde.png" },
          ],
          produtos3: [
            { nome: "Kitty Unicórnio", descricao: "Ursinho Adicional", preco: 194.00, imagem: "img/hk1.jpg" },
            { nome: "Kitty Unicórnio", descricao: "Ursinho Adicional", preco: 294.00, imagem: "img/h1vermelho.png" },
            { nome: "Kitty Unicórnio", descricao: "Ursinho Adicional", preco: 394.00, imagem: "img/h1amarelo.png" },
            { nome: "Kitty Unicórnio", descricao: "Ursinho Adicional", preco: 494.00, imagem: "img/h1azul.png" },
            { nome: "Kitty Unicórnio", descricao: "Ursinho Adicional", preco: 594.00, imagem: "img/h1verde.png" }
          ],
          produtos4: [
            { nome: "Kitty Nova York", descricao: "Edição Viagens", preco: 194.00, imagem: "img/h2azul.png" },
            { nome: "Kitty Nova York", descricao: "Edição Viagens", preco: 294.00, imagem: "img/h2rosa.png" },
            { nome: "Kitty Nova York", descricao: "Edição Viagens", preco: 394.00, imagem: "img/hk2.jpg" },
            { nome: "Kitty Nova York", descricao: "Edição Viagens", preco: 494.00, imagem: "img/h2amarela.png" },
            { nome: "Kitty Nova York", descricao: "Edição Viagens", preco: 594.00, imagem: "img/h2laranja.png" }
          ],
          produtos5: [
            { nome: "Kitty Clássica", descricao: "O Clássico Funciona", preco: 194.00, imagem: "img/h5vermelha.jpg" },
            { nome: "Kitty Clássica", descricao: "O Clássico Funciona", preco: 294.00, imagem: "img/h5verde.png" },
            { nome: "Kitty Clássica", descricao: "O Clássico Funciona", preco: 394.00, imagem: "img/h5rosa.png" },
            { nome: "Kitty Clássica", descricao: "O Clássico Funciona", preco: 494.00, imagem: "img/h5amarela.png" },
            { nome: "Kitty Clássica", descricao: "O Clássico Funciona", preco: 594.00, imagem: "img/h5azul.png" }
          ],
        }
      },


      methods: {
        comprar(produto) {
          alert(`Você adicionou "${produto.nome}" ao carinho! 🛒`);
        }
      }
    }).mount('#app');

  </script>

  <script src="./script.js"></script>
</body>

</html>